# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# TensorFlow
saved_models/
*.keras
*.h5

# Outputs
results/
reports/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store